.user-name {
    display: inline;
    font-weight: bold;
    font-size: 50px;
}

.recommended-for-you {
    margin-top: 100px;
    text-align: center;
}

.recommended-items-wrapper {
    width: 555px;
    margin: auto;
    background-image: linear-gradient(rgb(0, 195, 255), white);
    padding: 10px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.recommended-items {
    background-color: white;
    padding: 10px;


    display: inline-grid;
    justify-content: center;
  grid-template-columns: repeat(2, [col-start] 1fr);
  /* grid-template-rows: repeat(2, [row-start] 1fr); */
  grid-gap: 10px;
}

.recommended-item {
    display: block;
    background-color: rgba(192, 189, 189, 0.5);
    border: white 5px;
    padding: 10px;
    padding-bottom: 0px;
}

img {
    padding: 10px;
    padding-bottom: 0px;
}

label {
    display: block;
    padding: 3px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
} 

